<div class="card">
  <div class="p-field">
    <label for="description">Команда</label>
    <div class="p-field">
      <textarea id="description" pInputTextarea [(ngModel)]="runComman.command" required rows="1"
        cols="20"></textarea>
    </div>
  </div>

  <div class="p-field">
    <label for="useSSHKey">SSH Key</label>
    <div class="p-field">
      <p-checkbox [(ngModel)]="runComman.useSSHKey" [binary]="true" inputId="binary"></p-checkbox>
    </div>
  </div>

  <div class="p-field">
    <label for="description">Пароль від root</label>
    <div class="p-field">
      <textarea id="rootPassword" pInputTextarea [(ngModel)]="runComman.rootPassword" required rows="1"
        cols="20"></textarea>
    </div>
  </div>

  <div class="p-field">
    <label for="description">Результат</label>
    <div class="p-field">
      <textarea id="result" pInputTextarea [disabled]="true" [(ngModel)]="result" required rows="1"
        cols="20"></textarea>
    </div>
  </div>

  <button pButton pRipple label="Виконати" icon="pi pi-check" class="p-button-text"
    (click)="execute()"></button>
</div>
