<div class="card">
  <div class="p-field">
    <label for="name">Назва</label>
    <div class="p-field">
      <input type="text" pInputText id="name" [(ngModel)]="user.name" readonly />
    </div>
  </div>

  <div class="p-field">
    <label for="description">Ролі</label>
    <div class="p-field">
      <p-multiSelect [options]="roles" [(ngModel)]="user.roles" [filter]="true" optionLabel="name"></p-multiSelect>
    </div>
  </div>

  <button pButton pRipple label="Зберегти" icon="pi pi-check" class="p-button-text"
    (click)="saveRoles()"></button>
</div>
